body{font-family: Arial,Helvetica Neue,Helvetica,sans-serif;	font-size: 10px;}
div.one,div.two{float:left;width:40%}
span.keyword{
    background-color:yellow;
}
textarea{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;	font-size: 10px;
    width:100%;
    height: 150em;
}